body {
    margin: 0px;
    background-color: black;
}

h1 {
    color: rgb(255, 254, 253);
    text-shadow: 2px 12px 15px rgb(15, 13, 187);
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 450pt;
    text-align: center;
    user-select: none;
}