body {
    margin: 0;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    z-index: 20;
    overscroll-behavior: none;
    background-color: #3c3c3e;
}

h1 {
    color: rgb(244, 248, 244);
}

h2 {
    color: rgb(244, 248, 244);
}

.holder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}


/* unvisited link */

a:link {
    color: red;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    /* TODO Solve this in HTML */
}

a,
button,
input,
select {
    pointer-events: auto;
}

.lil-gui {
    z-index: 2 !important;
    /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px) {
    .lil-gui.root {
        right: auto;
        top: auto;
        max-height: 50%;
        max-width: 80%;
        bottom: 0;
        left: 0;
    }
}

#overlay {
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
}

body {
    margin: 0;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    z-index: 20;
    overscroll-behavior: none;
}

h1 {
    color: rgb(244, 248, 244);
}

h2 {
    color: rgb(244, 248, 244);
}

h3 {
    color: black;
}

.video-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 85%;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 7, 119);
    z-index: 25;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 90%;
    justify-content: center;
    border-radius: 18px;
    border-color: #3c3c3e;
    border-width: 10px;
    align-items: self-position;
    Z-index: 25;
}

.shader-container {
    padding: 20px;
    margin: 10px;
    background: #000000;
    font-size: 21px;
    line-height: 1.3em;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    font-weight: 400;
    Opacity: 100%;
    Z-index: 10;
}

.shader-container>div {
    background-color: #000000;
    margin: 5%;
    padding: 20px;
    font-size: 30px;
    Z-index: 10;
    Opacity: 100%;
}

.shader-container2 {
    padding: 20px;
    margin: 10px;
    background: #000000;
    font-size: 21px;
    line-height: 1.3em;
    border-radius: 50px;
    box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    font-weight: 400;
    Opacity: 60%;
    Z-index: 10;
}

.top {
    background-color: #000000;
    margin: 5%;
    padding: 20px;
    font-size: 30px;
    Z-index: 40;
}

.canvas-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 97%;
    justify-content: center;
    border-radius: 18px;
    border-color: #3c3c3e;
    border-width: 10px;
    align-items: self-position;
}

.flex-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
    border-color: #3c3c3e;
    border-width: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
    Z-index: 30;
    Opacity: 100%;
}

.flex-container>div {
    background-color: #000000;
    margin: 5%;
    padding: 20px;
    font-size: 30px;
    Opacity: 100%;
}

.camera-container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 55%;
    width: 85%;
    align-items: self-position;
    box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, .5);
    justify-content: space-around;
    Z-index: 10;
}

.camera-container>div {
    font-size: 30px;
    align-items: self-position;
    Z-index: 10;
    Opacity: 10%;
}

.inner {
    z-index: 25;
}