html {
    overflow: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

h1 {
    display: inline;
    position: absolute;
    font-family: 'Merienda One', cursive;
    color: rgba(01, 01, 01, 0.8);
    font-size: 4vw;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Merienda One', cursive;
    color: rgba(255, 250, 0);
}

h1:after {
    content: position: absolute;
    left: 10px;
    top: 5px;
    color: rgba(20, 199, 130, 0.8);
}

h3 {
    display: inline;
    position: relative;
    font-family: Philosopher, Sans-Serif;
    color: rgba(250, 251, 252, 0.5);
    font-size: 3vw;
    letter-spacing: 1px;
}

.top-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
}

.flex-container>div {
    background-color: #fad13c width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container {
    text-align: center;
    margin-top: 30px;
    margin-left: 110px;
    display: flex;
    width: 85%;
    text-align: center;
    justify-content: center;
    height: 180px;
}

.container_div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 110px;
}

.flex-container-footer {
    margin: 2px text-align: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 400px;
}

.flex-container-footer>div {
    width: 800px;
    margin: 10px;
}

.flex-container-player {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    align-items: baseline;
}

.flex-container-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margins: 50px;
    align-content: space-between;
}

.flex-container-ot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    z-index: 2;
}

.overlay-xray {
    position: absolute;
    margin: 0 auto;
    z-index: 7;
    opacity: .7;
}

.overlay-player {
    position: absolute;
    margin: 0 auto;
    z-index: 7;
    opacity: .7;
}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		background-color: transparent;
		border: solid 1px !important;
		border-color: rgba(255, 255, 255, 0.15) !important;
		border-radius: 3em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		font-weight: bold;
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 3.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:after,
		input[type="reset"]:after,
		input[type="button"]:after,
		button:after,
		.button:after {
			-moz-transform: scale(0.25);
			-webkit-transform: scale(0.25);
			-ms-transform: scale(0.25);
			transform: scale(0.25);
			pointer-events: none;
			-moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
			-webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
			-ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
			transition: opacity 0.2s ease, transform 0.2s ease;
			background: #ffffff;
			border-radius: 3em;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.75em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.4em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.8em;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #ffffff;
			color: #312450 !important;
		}

			input[type="submit"].primary:after,
			input[type="reset"].primary:after,
			input[type="button"].primary:after,
			button.primary:after,
			.button.primary:after {
				display: none;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			cursor: default;
			opacity: 0.5;
			pointer-events: none;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			border-color: rgba(255, 255, 255, 0.55) !important;
		}

			input[type="submit"]:hover:after,
			input[type="reset"]:hover:after,
			input[type="button"]:hover:after,
			button:hover:after,
			.button:hover:after {
				opacity: 0.05;
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}

			input[type="submit"]:hover:active,
			input[type="reset"]:hover:active,
			input[type="button"]:hover:active,
			button:hover:active,
			.button:hover:active {
				border-color: #ffffff !important;
			}

				input[type="submit"]:hover:active:after,
				input[type="reset"]:hover:active:after,
				input[type="button"]:hover:active:after,
				button:hover:active:after,
				.button:hover:active:after {
					opacity: 0.1;
				}


* {
    user-select: none;
}

html,
body {
    overflow: auto;
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
}

.dg {
    opacity: 0.9;
}

.dg .property-name {
    overflow: visible;
}

.bigFont {
    font-size: 150%;
    color: #8C8C8C;
}

.cr.function.appBigFont {
    font-size: 150%;
    line-height: 27px;
    color: #A5F8D3;
    background-color: #023C40;
}

.cr.function.appBigFont .property-name {
    float: none;
}

.icon {
    font-family: 'iconfont';
    font-size: 130%;
    float: right;
}

.link {
    width: 100%;
    display: inline-block;
}

.link img {
    width: 100%;
}

@keyframes promo-appear-animation {
    0% {
        transform: scale(2.0);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


/* Modal Content */

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #090909;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1d1d1d;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
